.edit-save > button {
    background: #E57025;
    border-radius: 18px;   
    width: 161px;
    height: 45px;    
    border: none;

    /* Font */
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
}

.edit-header{
    display: flex;
    justify-content: space-between;

    margin: 50px 30px 30px;
}

.info-input {
    margin-left: 5px;
    width: auto;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    text-align: left;

    color: #949494;
    
}

.owner-address > textarea{
    width: 217px;
    height: 85px;
    
}

.add-icon{
    color: #E57025;
}

.pet-vaccine-header{
    display: flex;
    flex-direction: row;
}

.pet-vaccine-header > pet-info-h1{
    align-self: start;
}

#add-vaccine{
    position: absolute;
    width: 144px;
    height: 20px;
    left: 1050px;
    top: 595px;

}

#add-note{
    width: 94px;
    height: 20px;   
    position: absolute;
    left: 1110px;
    top: 1065px;
}

.add-vet-note{
    display: flex;
    flex-direction: column;
    
    width: 745px;
    height: auto;

    margin-bottom: 30px;
}



.add-vet-note > textarea{
    height: 300px;
    border: 1px solid #626262;
    border-radius: 12px;
    padding-top: 10px;
    padding-left: 10px;
}

.addNoteBtn {
    width: 113px;
    height: 38px;   
    background: #E57025;
    border-radius: 18px;  
    border: none;
    float: right;
    margin-top: 11px;
    /* Font */  
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    align-items: center;

    color: #FFFFFF;

    

}
