Link, a{
    text-decoration: none;
}

.list-header{
    display: flex;
    justify-content: flex-end;

    margin: 50px 30px 30px;}

.list-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* identical to box height, or 67% */

    text-align: center;
    letter-spacing: -0.24px;
    display: flex;
    flex-direction: column;
}

.list-heading > h1 {
    /* position: absolute;
    top: 74px;
    align-items: center; */
    margin-top: 15px;
    font-size: 30px;
}

.list-heading > h3 {
    margin-top: 20px;
    font-size: 23px;
}
.list-heading > h2 {
    margin-top: 40px;
    font-size: 25px;
    margin-bottom: 25px;
}
.list-first-row , .list-row{
    display: flex;
    align-items: center;
    margin: -5px 5rem 0;
    flex-wrap: wrap;
    justify-content: center;
}
.list-row {
    text-decoration: none;
}
.list-box {
    position: relative;
    width: 156px;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.12);
    border-radius: 25px;
    margin: 20px 21px;
}

.list-box:hover{
    border: 2px solid #E57025;
}

.list-box > span{
    position: relative;
    width: 128px;
    height: 127px;
    left: 0px;
    top: 15px;
    filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.12));
    border-radius: 25px;

}

#list-box-pet {
    position: relative;
    width: 128px;
    height: 127px;
    border-radius: 25px;
}

.box6 > span {
    width: 128px;
    height: 127px;
    position: relative;
    top: 12px;
}


.list-box-name{
    position: relative;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    top: 30px;
}

.box6 > .list-box-name {
    top: 30px;
}