#navbar {
    background-color: transparent;
    display: flex;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    margin-top: -100px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    justify-content: space-between;
    vertical-align: middle;
    z-index: 1;
}

.gnb-box {
    display: flex;
    z-index: 1;
}